.canvas-container {
  position: relative;
  .canvas-tooltip {
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
    z-index: 9;
    min-height: 31px;
    opacity: 0;
    &:before {
      content: '';
      position: absolute;
      border: 5px solid rgba(0, 0, 0, 0.8);
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
      left: 0;
      bottom: -10px;
      right: 0;
      width: 0;
      margin: auto;
    }
  }
  .canvas-tooltip--hide {
    opacity: 0;
    z-index: -1;
  }
  .canvas-tooltip--show {
    opacity: 1;
    z-index: 9;
  }
}
